*{
    margin: 0;
    padding: 0;
}.logo{
    width: 100%;
    height: 75px;
    border: 1px solid #ccc;
    /* background-color: rgb(241, 139, 99); */
}
.ban{
    width: 1200px;
    height: 75px;
    line-height: 75px;
    display: flex;
    margin: 0 auto;
    /* background-color: rgb(70, 87, 243); */
}
.ban div{
    width: 400px;
    /* justify-content: space-between; */
}
.loo-l{
    width: 980px;
    height: 870px;
    margin: 0 auto;
    padding: 72px 0 139px;
}
.loo-l h3{
    width: 100%;
    text-align: center;
    color: #122147;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 12px;
}
.loo-l p{
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
}
.loo-p{
    font-size: 0;
    max-width: 510px;
    height: 225px;
    /* line-height: 225px; */
    margin: 64px auto;
    margin-bottom: 72px;
    /* background-color: rgb(238, 55, 55); */
}



